# Virtual Environment
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class

# Pytest
.pytest_cache/

# Mac OS
.DS_Store

# LaTeX Build Files
report/*.aux
report/*.log
report/*.out
report/*.fls
report/*.fdb_latexmk
report/*.synctex.gz
report/*.toc

# Results (Optional: keep if you want to track them, but ignoring for now as they are generated)
# results/
